<form #form='ngForm' class="mb-4" (submit)="onSubmit(form)">
    <div class="form-group">
        <label>Número da Conta</label>
        <input class="form-control" #N_Conta="ngModel" name="N_Conta" [(ngModel)]="formModel.N_Conta" required>
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" #Senha="ngModel" name="Senha" [(ngModel)]="formModel.Senha" required>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">Entrar</button>
        </div>
    </div>
</form>